.toast{
    position: fixed;
    padding: 10px;
    bottom: 20px;
    left: 10%;
    border-radius: 5px;
}

.toast.Error {
    background-color: red;
  }

  .toast.Success {
    background-color: green;
  }
  
  .toast.Warning {
    background-color: orange;
  }
  
  .toast.Info {
    background-color: blue;
  }
  